<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="loggr">
            <section name="log" type="System.Configuration.NameValueSectionHandler" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <loggr>
        <log>
            <add key="logKey" value="logKey" />
            <add key="apiKey" value="apiKey" />
        </log>
    </loggr>
</configuration>